.cidadaniadiv{
    display: flex;
    background-image: url('../assets/menu.png');
    height: 440px;
    width: auto;
    justify-content: center;
    align-items: end;
}

.imgtext {
    display: flex;
    margin-top: 2%;
    color: white; 
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}