.sobre_nos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 450px;
    background-image: url('../assets/bg2.jpg');
}
.sobre_nos h2{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
}

.texto_nos{
    width: 460px;
    text-align: justify;
    margin-right: 200px;
}
.texto_nos p{
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.div_nos{
    display: flex;
    flex-direction: row;
}